= form_with model: daily_nerd_message, class: :stack, builder: AwesomeForm do |f|
  = f.input :message, as: :text, placeholder: t(".message_placeholder"), required: true, additional_class: "input__input--daily-nerd"
  span = f.submit class: :button, data: { turbo_submits_with: t('.submits_with') }
