.checkbox {
  &__input {
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 200%;
    border: 2px solid var(--div-default);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--dropdown-bg-hover);
    }
    &:checked:before {
      content: '✔️';
      font-size: 12px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
