- sprint = @feedback.sprint
.container: .stack.stack--large
  div
  h1.text.text--headline = t ".sprints"
  .card
    .card__header
      .card__icon 🏃
      .card__header-content
        .card__title
          = sprint.title
          =< @feedback.user.display_name
        .card__subtitle = date_range sprint.sprint_from, sprint.sprint_until, format: :long
    .card__content.stack.stack--large
      - sprint.sprint_during.each do |day|
        - time_entries = sprint.time_entries.select { _1.created_at.to_date == day && _1.user_id == @feedback.user_id }
        - daily_nerd_message = @feedback.daily_nerd_messages.find { _1.created_at.to_date == day }
        - next if time_entries.none? && !daily_nerd_message && day.on_weekend?
        .stack.stack--medium
          .stack.stack--tiny
            h2.text.text--secondary-card-title = l day, format: :weekday
            span = l day, format: :short
          - if time_entries.any?
            table.card-table
              thead
                tr
                  th = t(".note")
                  th = t(".task")
                  th = t(".hours")
                  th = t(".status")
                  th = t(".members")
                  th = t(".total_hours")
                  th = t(".points")
                  th = t(".total_cost")
              tbody
                - time_entries.each do |time_entry|
                  - task = time_entry.task_object
                  tr
                    td = time_entry.notes.presence || "-"
                    td
                      = time_entry.task
                      br
                      = time_entry.project&.name
                    td = time_entry.hours
                    - if task
                      td = task.status
                      td
                        - task.users.each do |user|
                          img src=user.avatar_url alt=user.name title=user.name
                      td = task.total_hours
                      td = task.story_points
                      td = number_to_currency task.total_costs
                    - else
                      td
                      td
                      td
                      td
                      td

        - if daily_nerd_message
          .stack.stack--mini style="max-width: 750px"
            .strong = t ".daily_nerd"
            div = markdown daily_nerd_message.message
