.button {
  --button-height: 40px;

  height: var(--button-height);
  padding: 0 calc(var(--button-height) / 1.66);
  background-color: var(--color-tint);
  border-radius: calc(var(--button-height) / 2);
  color: white;
  font-weight: 600;
  line-height: var(--button-height);

  &:active {
    background-color: color-mix(in lch, var(--color-tint) 85%, black);
  }

  &.button--small {
    --button-height: 28px;
  }
}
