.card-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #e6ecf2;

  th {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    border-bottom: 1px solid #e6ecf2;
    white-space: pre;
    padding: 12px 16px;
  }

  td {
    padding: 12px 16px;
    border-bottom: 1px solid #e6ecf2;
  }
}
