.input {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-border);

  &--boolean {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    border-bottom: 0;

    .input__label {
      font-size: 16px;
    }

    .input__input {
      appearance: auto;
    }
  }

  &__label {
    font-size: 10px;
  }

  &__input {
    outline: none;

    &--daily-nerd {
      min-height: 100px;
      margin-top: 0.5rem;
      padding: 0.66rem;
      border-top: 1px solid var(--color-border);
      border-left: 1px solid var(--color-border);
      border-right: 1px solid var(--color-border);
      font-size: 16px;
      resize: vertical;
    }
  }
}
