.notification {
  position: fixed;
  top: var(--spacing-xs);
  right: var(--spacing-xs);
  max-width: 300px;
  background-color: var(--color-tint);
  padding: var(--spacing-xs);
  color: white;
  border-radius: var(--border-radius-card);
}
