.radio-button {
  width: 18px;
  height: 18px;
  border: 1.5px solid var(--color-border);
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 8px;

  &__label {
    font-size: 14px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  &:checked {
    background-color: var(--color-background-primary);
    background-image: asset-url('icon/radio_select.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
