.stack {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  // Prevent grid overflowing its container
  & > * {
    min-width: 0;
  }

  @each $size-name, $size-value in $sizes {
    &--#{$size-name} {
      gap: $size-value;
    }
  }
}
