@use '../../frontend/components/layout.scss';

.sidebar {
  --header-height: 72px;

  background-color: var(--navigation-bg-default);
  box-shadow: 0px 10px 10px 0px rgba(43, 124, 138, 0.03);

  position: sticky;
  top: 0;

  @include layout.media-desktop {
    min-height: 100vh;
    padding: 32px 16px 40px;
    box-shadow: 7px 10px 10px 0px rgba(43, 124, 138, 0.03);
    display: grid;
    grid-template-rows: auto minmax(24px, 56px) 1fr 24px auto;
    grid-template-areas: 'header' 'gap1' 'links' 'gap2' 'footer';
  }

  &__header {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    @include layout.media-desktop {
      height: auto;
      padding: 0;
      justify-content: center;
      grid-area: header;
    }
  }

  &__brand {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__company {
    @include layout.media-desktop {
      display: none;
    }
  }

  &__collapse {
    background-color: white;
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease;

    > * {
      overflow: hidden;
    }

    .sidebar__links,
    .sidebar__footer {
      display: flex;
    }

    @include layout.media-desktop {
      display: none;
    }
  }

  &__mobile {
    display: flex;
    flex-direction: column;
    gap: 56px;
    background-color: var(--navigation-bg-default);
    padding: 24px 16px;
    height: calc(90vh - var(--header-height));
    box-shadow: 0px 10px 10px 0px rgba(43, 124, 138, 0.03);
  }

  &__links {
    display: none;

    @include layout.media-desktop {
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 16px;
      grid-area: links;
    }
  }

  &__link {
    display: flex;
    gap: 24px;
    cursor: pointer;
    color: var(--icon-navigation-default);
    position: relative;

    @include layout.media-desktop {
      padding: 10px;
      border-radius: 16px;
    }

    &--active {
      @include layout.media-desktop {
        background-color: var(--menu-bg-active);
        color: var(--icon-navigation-active);
      }
    }

    &:hover {
      @include layout.media-desktop {
        background-color: var(--menu-bg-hover);
        color: var(--icon-navigation-hover);
      }
    }
  }

  &__avatar {
    width: 52px;
    aspect-ratio: 1;
    border-radius: 100%;
  }

  &__footer {
    flex-direction: column;
    gap: 40px;
    display: none;

    @include layout.media-desktop {
      display: grid;
      grid-template-rows: auto minmax(8px, 56px) auto;
      gap: 0;
      grid-area: footer;

      > *:first-child {
        grid-row: 1;
      }
      > *:last-child {
        grid-row: 3;
      }
    }
  }

  &__footer-username {
    @include layout.media-desktop {
      display: none;
    }
  }

  &__menu-toggle {
    display: grid;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    @include layout.media-desktop {
      display: none;
    }
  }

  &__burger,
  &__close {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  &__burger {
    transition: 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__close {
    opacity: 0;
    transition: 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotate(-90deg);
  }

  &--expanded {
    .sidebar__collapse {
      grid-template-rows: 1fr;
    }
    .sidebar__burger {
      transform: rotate(90deg);
      opacity: 0;
    }
    .sidebar__close {
      opacity: 1;
      transform: rotate(0deg);
    }
  }
}
