.grid {
  --min-width: 300px;
  --gap: 24px;
  --horizontal-gap: 24px;

  display: grid;
  gap: var(--gap) var(--horizontal-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(200px, var(--min-width), 100%), 1fr)
  );
  grid-auto-rows: 1fr;
}
