.field {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__label {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__hint-list {
    margin: 0;
    padding-left: 18px;
    list-style: disc;
  }
}
