.performance {
  border-radius: 16px;
  border: 1px solid #6a74ff;
  padding: 12px;

  &__avatar {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    flex-shrink: 0;
  }

  &__day {
    height: 16px;
    width: 10px;
    border-radius: 2px;
    background-color: #e8eefb;

    &--sick {
      position: relative;
      background-color: #e1e3ff;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: -2px;
        left: -4px;
        right: -4px;
        bottom: -2px;
        background: repeating-linear-gradient(
          135deg,
          transparent,
          transparent 2px,
          #ffffff 2px,
          #ffffff 4px
        );
      }
    }

    &--weekend {
      width: 3px;
    }

    &--vacation {
      border-radius: 2px;
      border: 1px solid #4047b3;
      background-color: unset;
    }

    &--working {
      background-color: #6a74ff;
    }
  }

  &__day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  &__daily-nerd-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6px;
  }

  &__daily-nerd {
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background-color: #e8eefb;

    &--written {
      background-color: #ff50f1;
    }
  }

  &__icon-line {
    display: flex;
    justify-content: space-between;
  }
}
