@use '../layout';

.performance-day {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include layout.media-desktop {
    gap: 24px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__label {
    display: none;
    @include layout.media-desktop {
      display: block;
    }
  }

  &__icon {
    transition: 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-left: auto;

    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--expanded {
    .performance-day__icon {
      transform: rotate(180deg);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include layout.media-desktop {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 32px;
    }
  }

  &__users {
    display: flex;
    align-items: center;

    & > * {
      &:not(:first-child) {
        margin-left: -10px;
      }
    }
  }

  &__table {
    display: flex;
    padding: 16px 0px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    border: 1px solid var(--div-default, #e8eefb);
    list-style: none;

    @include layout.media-desktop {
      display: grid;
      grid-template-columns: 1fr repeat(4, auto);
      gap: 0px;
      padding: 0px;
    }
  }

  &__row {
    width: 100%;
    padding: 0px 16px;
    &:not(:last-child) {
      padding-bottom: 8px;
      border-bottom: 1px solid var(--div-default, #e8eefb);
    }
    display: grid;
    gap: 4px;
    grid-template-areas:
      'entry-details tracked'
      'entry-details users'
      'entry-details source';

    @include layout.media-desktop {
      grid-column: 1 / -1;
      grid-template-columns: subgrid;
      padding: 0px;
      grid-template-areas: unset;
      align-items: center;
      &:not(:last-child) {
        padding-bottom: 0px;
      }
    }
  }

  &__table-head {
    display: none;
    @include layout.media-desktop {
      display: grid;
    }
  }

  &__cell {
    @include layout.media-desktop {
      padding: 16px;
      &--justify-end {
        justify-self: flex-end;
      }
    }
  }

  &__entry-details {
    grid-area: entry-details;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    @include layout.media-desktop {
      grid-area: unset;
    }
  }

  &__entry-data {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__tracked {
    grid-area: tracked;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    @include layout.media-desktop {
      grid-area: unset;
    }
  }

  &__mobile-total {
    display: flex;
    align-items: center;
    gap: 2px;
    padding-left: 2px;
    @include layout.media-desktop {
      display: none;
    }
  }

  &__users {
    grid-area: users;
    justify-self: flex-end;
    @include layout.media-desktop {
      grid-area: unset;
    }
  }
  &__total {
    justify-self: flex-end;
    display: none;
    @include layout.media-desktop {
      display: block;
      grid-area: unset;
    }
  }
  &__source {
    grid-area: source;
    justify-self: flex-end;
    @include layout.media-desktop {
      grid-area: unset;
    }
  }
}
