.button {
  padding: 7px 15px;
  border: 1px solid transparent;
  border-radius: 60px;
  width: fit-content;
  cursor: pointer;

  &--primary {
    color: white;
    background-color: #2da9ff;
  }

  &--secondary {
    color: var(--button-secondary-label-default);
    background-color: var(--button-secondary-bg-default);
    border-color: var(--button-secondary-border-default);
  }

  &--danger {
    color: var(--button-primary-label-error);
    background-color: var(--button-secondary-bg-default);
    border-color: var(--border-error-base);
  }
}
