.pill {
  font-size: 0.9em;
  text-align: center;
  white-space: nowrap;
  line-height: 24px;
  padding: 8px 16px;
  color: var(--tab-label-default);
  background-color: transparent;
  border-radius: 60px;
  border: 1px solid transparent;

  &:hover {
    color: var(--tab-label-hover);
    background-color: var(--tab-bg-hover);
    border-color: var(--tab-border-hover);
  }

  &--active {
    font-weight: 700;
    color: var(--tab-label-active);
    background-color: var(--tab-bg-active);
    border-color: var(--tab-border-active);
  }
}
