.text-field {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-border);

  &__label {
    font-size: 10px;
  }

  &__input {
    outline: none;
    border-bottom: 1px solid currentColor;
    width: 100%;
  }
}
