.container: .stack
  h1.headline = t ".hello", name: current_user.display_name
  = render @sprint if @sprint
  = render "components/retro_reminder", sprint: @needs_retro.sprint if @needs_retro.present?
  - if @daily_nerd_message
    .card
      .card__header
        .card__icon 📝
        .card__header-content
          .card__title = t ".daily_nerd"
          .stack
            = render partial: "daily_nerd_messages/form", locals: {daily_nerd_message: @daily_nerd_message}
  .columns
    - if @upcoming_leaves.any?
      .card
        .card__header
          .card__icon 🏝
          .card__header-content
            .card__title = t ".upcoming_holidays"
            .stack.stack--mini
              - @upcoming_leaves.each do |leave|
                .card__subtitle = "#{date_range leave.leave_during.min, leave.leave_during.max}: #{leave.title}"
    - if @payslips.any?
      .card
        .card__header
          .card__icon 💸
          .card__header-content
            .card__title = t ".last_payments"
            .stack.stack--mini
              - @payslips.each do |payslip|
                a.card__subtitle href=image_file_url(payslip.pdf) target="_blank" = l payslip.month, format: :month_year
          .card__context
            = link_to t(".archive"), payslips_path
    .card
        .card__header
          .card__icon ⏰
          .card__header-content
            .card__title = t ".remaining_holidays", year: Date.today.year
            .card__subtitle = current_user.remaining_holidays
