.performance-days {
  display: flex;
  justify-content: center;
  gap: 2px;

  &__day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  &__daily-nerd-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6px;
  }

  &__daily-nerd {
    height: 6px;
    border-radius: 3px;

    &--written {
      width: 6px;
      background-color: var(--icon-daily-nerd-filled);
    }
  }

  &__day {
    height: 20px;
    width: 10px;
    border-radius: 2px;
    background-color: var(--icon-working-day-bg-empty);

    &--sick {
      position: relative;
      background-color: var(--icon-working-day-bg-sick-leave);
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: -2px;
        left: -4px;
        right: -4px;
        bottom: -2px;
        background: repeating-linear-gradient(
          135deg,
          transparent,
          transparent 2px,
          var(--icon-working-day-fg-leave) 2px,
          var(--icon-working-day-fg-leave) 4px
        );
      }
    }

    &--weekend {
      width: 3px;
      background-color: var(--icon-working-day-bg-non-working);
    }

    &--vacation {
      border-radius: 2px;
      border: 1px solid var(--chart-border-holiday);
      background-color: unset;
    }

    &--working {
      background-color: var(--icon-working-day-bg-filled);
    }
  }

  &__day-label {
    display: none;
  }

  &--large {
    gap: 12px;

    .performance-days {
      &__day-label {
        display: block;
      }

      &__day {
        height: 191px;
        width: 13px;
        position: relative;

        &--working {
          background-color: var(--icon-working-day-bg-empty);

          &::before,
          &::after {
            content: '';
            border-radius: 2px;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: var(--tracked-hours);
            background-color: var(--chart-bg-non-billable);
          }
          &::after {
            background-color: var(--chart-bg-billable);
            height: var(--billable-hours);
          }
        }

        &--weekend,
        &--sick,
        &--vacation {
          .performance-days__target {
            display: none;
          }
        }
        &--weekend {
          width: 3px;
        }
      }

      &__target {
        position: absolute;
        bottom: var(--target-billable-hours);
        height: 2px;
        width: 100%;
        background-color: var(--chart-bg-goal);
        z-index: 1;
        border-radius: 2px;
      }
    }
  }
}
