@use '../layout';

$navbar_height: 63px;
$animation_time: 0.35s;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  overflow: scroll;

  &__close {
    position: absolute;
    z-index: 999;
    top: 32px;
    right: 32px;
    background-image: url(./close.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0;

    animation: $animation_time forwards fadeIn;

    &--fade-out {
      animation: $animation_time forwards fadeOut;
    }
  }

  &__content {
    position: relative;
    background-color: #fff;
    transition:
      opacity $animation_time,
      transform $animation_time;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
    height: 100vh;
    border-radius: 16 0 0 16;
    transform: translate(100%, 0px);
    max-height: 90vh;
    border-radius: 16px;

    @include layout.media-tablet {
      max-height: 100%;
    }

    & > .stack {
      height: 100%;
    }
  }

  &--large {
    .modal__content {
      @include layout.media-tablet {
        width: 640px;
      }
      @include layout.media-desktop {
        width: 900px;
      }
    }

    &.modal--center {
      .modal__content {
        @include layout.media-tablet {
          width: 640px;
        }
        @include layout.media-desktop {
          width: 900px;
        }
      }
    }
  }

  &--center {
    justify-content: center;
    align-items: flex-start;

    .modal__content {
      transform: translate(0px, 100%);
      margin-top: auto;
      height: auto;
      max-width: unset;
      width: 100%;

      @include layout.media-tablet {
        width: 640px;
        margin-top: 0;
        top: 50%;
        width: unset;
      }

      @include layout.media-desktop {
        width: 640px;
      }

      & > .stack {
        height: auto;
      }
    }
  }

  &--open {
    pointer-events: all;
    .modal__content {
      opacity: 1;
      transform: none;

      @include layout.media-tablet {
        transform: translate(0px, -50%);
      }
    }
  }
}

body.with-modal {
  overflow: hidden;
}
