.status-pill {
  display: inline-flex;
  padding: 2px 10px;
  border-radius: 100px;
  border: 1px solid transparent;
  text-transform: capitalize;

  &--done {
    background-color: var(--status-pill-done-background);
    color: var(--status-pill-done);
    border-color: var(--status-pill-done-border);
  }
}
