@import '../layout.scss';

.sidebar {
  background-color: var(--navigation-bg-default);
  box-shadow: 0px 10px 10px 0px rgba(43, 124, 138, 0.03);
  position: sticky;
  top: 0;

  @include media-desktop {
    height: 100vh;
    padding: 32px 16px 40px;
    box-shadow: 7px 10px 10px 0px rgba(43, 124, 138, 0.03);
    display: flex;
    flex-direction: column;
    gap: 56px;
  }

  &__header {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    @include media-desktop {
      padding: 0;
      justify-content: center;
    }
  }

  &__brand {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__company {
    @include media-desktop {
      display: none;
    }
  }

  &__collapse {
    background-color: white;
    position: absolute;
    width: 100%;

    .sidebar__links,
    .sidebar__footer {
      display: flex;
    }

    @include media-desktop {
      display: none;
    }
  }

  &__mobile {
    display: flex;
    flex-direction: column;
    gap: 56px;
    background-color: var(--navigation-bg-default);
    padding: 24px 16px;
    background: var(--navigation-bg-default, #fff);
    height: calc(90vh - 72px);
    box-shadow: 0px 10px 10px 0px rgba(43, 124, 138, 0.03);
  }

  &__links {
    display: none;

    @include media-desktop {
      display: flex;
    }
  }

  &__link {
    display: flex;
    gap: 24px;
    cursor: pointer;
    color: var(--icon-navigation-default);
    position: relative;

    @include media-desktop {
      padding: 10px;
      border-radius: 16px;
    }

    &--active {
      @include media-desktop {
        background-color: var(--menu-bg-active);
        color: var(--icon-navigation-active);
      }
    }

    &:hover {
      @include media-desktop {
        background-color: var(--menu-bg-hover);
        color: var(--icon-navigation-hover);
      }

      .sidebar__link-text {
        @include media-desktop {
          display: block;
        }
      }
    }
  }

  &__link-text {
    @include media-desktop {
      position: absolute;
      background-color: var(--tooltip-bg-default);
      color: var(--tooltip-label-default);
      padding: 9px 18px 11px;
      border-radius: 100px;
      left: 57px;
      top: 4px;
      display: none;
    }
  }

  &__avatar {
    width: 52px;
    aspect-ratio: 1;
    border-radius: 100%;
  }

  &__footer {
    flex-direction: column;
    gap: 40px;
    display: none;

    @include media-desktop {
      display: flex;
      margin-top: auto;
    }
  }

  &__footer-username {
    @include media-desktop {
      display: none;
    }
  }

  &__menu-toggle {
    display: grid;
    cursor: pointer;
    @include media-desktop {
      display: none;
    }
  }

  &__burger,
  &__close {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  &__burger {
    transition: 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__close {
    opacity: 0;
    transition: 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotate(-90deg);
  }

  &--expanded {
    .sidebar__burger {
      transform: rotate(90deg);
      opacity: 0;
    }
    .sidebar__close {
      opacity: 1;
      transform: rotate(0deg);
    }
  }
}
