.tooltip {
  position: relative;
  display: inline-flex;
  align-items: center;

  &__anchor {
    position: fixed;
    transform: translateY(-50%);
    padding-left: 2px;
    display: none;
    z-index: 10;

    &--visible {
      display: flex;
    }
  }

  &__content {
    top: 0;
    background-color: var(--tooltip-bg-default);
    display: flex;
    padding: 9px 18px 11px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    margin-left: -4px;
  }
}
