@use '../layout.scss';

.performance-grid {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(auto-fill, minmax(157px, 1fr));

  @include layout.media-desktop {
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
  }
}
