@use './variables';
@use '../layout';

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./fonts/inter.woff2') format('woff2');
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('./fonts/inter-italic.woff2') format('woff2');
}

.text {
  font-style: normal;
  width: fit-content;
  color: var(--text-primary-base);
  hyphens: auto;
  white-space: nowrap;

  &--block {
    display: block;
    width: 100%;
  }

  &--multiline {
    white-space: normal;
  }

  &--tooltip-primary {
    font-size: 18px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 600;
    letter-spacing: normal;
    line-height: 24px;
  }
  &--tooltip-secondary {
    font-size: 10px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: normal;
    line-height: 14px;
  }
  &--h1-bold {
    font-size: 24px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 700;
    letter-spacing: normal;
    line-height: normal;
    @include layout.media-desktop {
      font-size: 40px;
      text-decoration: none;
      font-family: 'Inter';
      font-weight: 700;
      letter-spacing: normal;
      line-height: normal;
    }
  }
  &--h2-bold {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 700;
    letter-spacing: normal;
    line-height: normal;
    @include layout.media-desktop {
      font-size: 28px;
      text-decoration: none;
      font-family: 'Inter';
      font-weight: 700;
      letter-spacing: normal;
      line-height: 33.6px;
    }
  }
  &--h3-regular {
    font-size: 16px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: normal;
    line-height: 28px;
    @include layout.media-desktop {
      font-size: 22px;
      text-decoration: none;
      font-family: 'Inter';
      font-weight: 400;
      letter-spacing: normal;
      line-height: 26.4px;
    }
  }
  &--h3-bold {
    font-size: 16px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 700;
    letter-spacing: normal;
    line-height: 28px;
    @include layout.media-desktop {
      font-size: 22px;
      text-decoration: none;
      font-family: 'Inter';
      font-weight: 700;
      letter-spacing: normal;
      line-height: 26.4px;
    }
  }
  &--h4-regular {
    font-size: 16px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.2px;
    @include layout.media-desktop {
      font-size: 20px;
      text-decoration: none;
      font-family: 'Inter';
      font-weight: 400;
      letter-spacing: normal;
      line-height: 24px;
    }
  }
  &--h5-regular {
    font-size: 18px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
  }
  &--h5-bold {
    font-size: 18px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 700;
    letter-spacing: normal;
    line-height: 21.6px;
  }
  &--body-bold {
    font-size: 14px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 700;
    letter-spacing: normal;
    line-height: 19.6px;
    @include layout.media-desktop {
      font-size: 16px;
      text-decoration: none;
      font-family: 'Inter';
      font-weight: 700;
      letter-spacing: normal;
      line-height: 22.4px;
    }
  }
  &--body-regular {
    font-size: 14px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.6px;
    @include layout.media-desktop {
      font-size: 16px;
      text-decoration: none;
      font-family: 'Inter';
      font-weight: 400;
      letter-spacing: normal;
      line-height: 22.4px;
    }
  }
  &--body-secondary-regular {
    font-size: 14px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.6px;
  }
  &--caption-primary-bold {
    font-size: 14px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 700;
    letter-spacing: normal;
    line-height: 19.6px;
    @include layout.media-desktop {
      font-size: 14px;
      text-decoration: none;
      font-family: 'Inter';
      font-weight: 700;
      letter-spacing: normal;
      line-height: normal;
    }
  }
  &--caption-primary-regular {
    font-size: 14px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.6px;
    @include layout.media-desktop {
      font-size: 14px;
      text-decoration: none;
      font-family: 'Inter';
      font-weight: 400;
      letter-spacing: normal;
      line-height: 19.6px;
    }
  }
  &--caption-secondary-regular {
    font-size: 12px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 500;
    letter-spacing: normal;
    line-height: normal;
    @include layout.media-desktop {
      font-size: 12px;
      text-decoration: none;
      font-family: 'Inter';
      font-weight: 500;
      letter-spacing: normal;
      line-height: normal;
    }
  }
  &--menu-semibold {
    font-size: 18px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 600;
    letter-spacing: normal;
    line-height: normal;
  }
  &--menu-bold {
    font-size: 18px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 700;
    letter-spacing: normal;
    line-height: normal;
  }
  &--chart-label-primary-bold {
    font-size: 16px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 700;
    letter-spacing: normal;
    line-height: 19.2px;
  }
  &--chart-label-primary-regular {
    font-size: 14px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16.8px;
  }
  &--body-secondary {
    font-size: 14px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19.6px;
  }
  &--card-heading-bold {
    font-size: 16px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 700;
    letter-spacing: normal;
    line-height: normal;
  }
  &--card-heading-regular {
    font-size: 16px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
  }
  &--button-bold {
    font-size: 16px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24px;
  }
  &--button-regular {
    font-size: 16px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
  }
  &--dropdown-bold {
    font-size: 16px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24px;
  }
  &--dropdown-default {
    font-size: 16px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
  }

  &--label-heading-primary {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
