:root {
  --active: #2ca8ff;
  --arrow-button-bg-default: #ffffff;
  --button-primary-bg-default: #2ca8ff;
  --button-primary-bg-disabled: #d5eeff;
  --button-primary-bg-hover: #2488cd;
  --button-primary-bg-pressed: #1b669b;
  --button-primary-label-default: #ffffff;
  --button-primary-label-hover: #ffffff;
  --button-primary-label-pressed: #ffffff;
  --button-secondary-bg-default: #ffffff;
  --button-secondary-bg-hover: #eaf6ff;
  --button-secondary-bg-pressed: #d5eeff;
  --button-secondary-border-default: #2ca8ff;
  --button-secondary-border-hover: #2488cd;
  --button-secondary-border-pressed: #1b669b;
  --button-secondary-label-default: #2ca8ff;
  --button-secondary-label-hover: #2488cd;
  --button-secondary-label-pressed: #1b669b;
  --card-bg-default: #ffffff;
  --card-border-default: #6a74ff;
  --chart-bg-billable: #6a74ff;
  --chart-bg-default: #f0f1ff;
  --chart-bg-goal: #114f7b;
  --chart-bg-non-billable: #c3c7ff;
  --chart-border-holiday: #c3c7ff;
  --chart-border-pto: #313687;
  --chart-border-sick: #ffffff;
  --chart-fg-default: #ffc822;
  --color: #ffffff;
  --default: #ffffff;
  --div-default: #e8eefb;
  --dropdown-bg-active: #d5eeff;
  --dropdown-bg-default: #ffffff;
  --dropdown-bg-hover: #eaf6ff;
  --dropdown-bg-pressed: #d5eeff;
  --dropdown-border-active: #2ca8ff;
  --dropdown-border-default: #2ca8ff;
  --dropdown-border-hover: #2ca8ff;
  --dropdown-border-pressed: #2488cd;
  --dropdown-label-active: #2e2d31;
  --dropdown-label-default: #2e2d31;
  --dropdown-label-hover: #2e2d31;
  --dropdown-label-pressed: #2e2d31;
  --hover: #eaf6ff;
  --icon-arrow-primary-active: #2ca8ff;
  --icon-arrow-primary-default: #888888;
  --icon-arrow-secondary-active: #2ca8ff;
  --icon-arrow-secondary-default: #2e2d31;
  --icon-daily-nerd-empty: #ffeef7;
  --icon-daily-nerd-filled: #6a74ff;
  --icon-daily-nerd-no-entry: #d14591;
  --icon-day-empty: #e6e8ff;
  --icon-day-filled: #6a74ff;
  --icon-exit-default: #2e2d31;
  --icon-header-series1: #eaf6ff;
  --icon-header-series2: #ffeef7;
  --icon-header-series2-2: #fffae5;
  --icon-menu-active: #2ca8ff;
  --icon-menu-default: #888888;
  --icon-navigation-active: #ffffff;
  --icon-navigation-default: #888888;
  --icon-navigation-hover: #2ca8ff;
  --icon-working-day-bg-empty: #e6e8ff;
  --icon-working-day-bg-filled: #6a74ff;
  --icon-working-day-bg-non-working: #f0f1ff;
  --icon-working-day-bg-sick-leave: #e6e8ff;
  --icon-working-day-bg-vacation-leave: #313687;
  --icon-working-day-border-default: #6a74ff;
  --icon-working-day-border-holiday: #c3c7ff;
  --icon-working-day-border-non-working: #e6e8ff;
  --icon-working-day-border-pto: #313687;
  --icon-working-day-border-sick-leave: #e6e8ff;
  --icon-working-day-fg-holiday: #2e2d31;
  --icon-working-day-fg-leave: #ffffff;
  --input-default: #e8eefb;
  --label-body-primary: #2e2d31;
  --label-body-secondary: #888888;
  --label-caption-primary: #2e2d31;
  --label-caption-secondary: #888888;
  --label-heading-primary: #2e2d31;
  --label-heading-secondary: #888888;
  --label-link-default: #2ca8ff;
  --label-link-hover: #2488cd;
  --label-link-pressed: #1b669b;
  --menu-bg-active: #2ca8ff;
  --menu-bg-default: #ffffff;
  --menu-bg-hover: #eaf6ff;
  --menu-label-active: #ffffff;
  --menu-label-default: #888888;
  --menu-label-hover: #2ca8ff;
  --modal-background-primary: #ffffff;
  --navigation-bg-default: #ffffff;
  --pressed: #d5eeff;
  --progress-bar-bg-default: #fffae5;
  --progress-bar-fg-default: #ffc822;
  --screen-screen-bg-default: #f4f8fa;
  --tab-bg-active: #ffffff;
  --tab-bg-hover: #eaf6ff;
  --tab-bg-pressed: #d5eeff;
  --tab-border-active: #2ca8ff;
  --tab-border-hover: #2ca8ff;
  --tab-border-pressed: #2488cd;
  --tab-label-active: #2e2d31;
  --tab-label-default: #2e2d31;
  --tab-label-hover: #2e2d31;
  --tab-label-pressed: #2e2d31;
  --tooltip-bg-default: #2e2d31;
  --tooltip-hours-bg-active: #ffffff;
  --tooltip-hours-border-default: #e8eefb;
  --tooltip-hours-label-default: #2e2d31;
  --tooltip-label-default: #ffffff;
}
@mixin tooltip-primary() {
  font-size: 18px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 600;
  letter-spacing: normal;
  line-height: 24px;
}
@mixin tooltip-secondary() {
  font-size: 10px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  letter-spacing: normal;
  line-height: 140%;
}
@mixin desktop-h1-bold() {
  font-size: 40px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;
}
@mixin desktop-h2-bold() {
  font-size: 28px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 700;
  letter-spacing: normal;
  line-height: 120%;
}
@mixin desktop-h3-regular() {
  font-size: 22px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  letter-spacing: normal;
  line-height: 120%;
}
@mixin desktop-h3-bold() {
  font-size: 22px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 700;
  letter-spacing: normal;
  line-height: 120%;
}
@mixin desktop-h4-regular() {
  font-size: 20px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  letter-spacing: normal;
  line-height: 120%;
}
@mixin desktop-h5-regular() {
  font-size: 18px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
}
@mixin desktop-h5-bold() {
  font-size: 18px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 700;
  letter-spacing: normal;
  line-height: 120%;
}
@mixin desktop-body-bold() {
  font-size: 16px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 700;
  letter-spacing: normal;
  line-height: 140%;
}
@mixin desktop-body-regular() {
  font-size: 16px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  letter-spacing: normal;
  line-height: 140%;
}
@mixin desktop-body-secondary-regular() {
  font-size: 14px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  letter-spacing: normal;
  line-height: 140%;
}
@mixin desktop-caption-primary-bold() {
  font-size: 14px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;
}
@mixin desktop-caption-primary-regular() {
  font-size: 14px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  letter-spacing: normal;
  line-height: 140%;
}
@mixin desktop-caption-secondary-regular() {
  font-size: 12px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 500;
  letter-spacing: normal;
  line-height: normal;
}
@mixin menu-semibold() {
  font-size: 18px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 600;
  letter-spacing: normal;
  line-height: normal;
}
@mixin menu-bold() {
  font-size: 18px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;
}
@mixin chart-label-primary-bold() {
  font-size: 16px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 700;
  letter-spacing: normal;
  line-height: 120%;
}
@mixin chart-label-primary-regular() {
  font-size: 14px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  letter-spacing: normal;
  line-height: 120%;
}
@mixin mobile-h1-bold() {
  font-size: 24px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;
}
@mixin mobile-h2-bold() {
  font-size: 20px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;
}
@mixin mobile-h3-bold() {
  font-size: 16px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 700;
  letter-spacing: normal;
  line-height: 28px;
}
@mixin mobile-h3-regular() {
  font-size: 16px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  letter-spacing: normal;
  line-height: 28px;
}
@mixin mobile-h4-regular() {
  font-size: 16px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  letter-spacing: normal;
  line-height: 120%;
}
@mixin mobile-body-bold() {
  font-size: 14px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 700;
  letter-spacing: normal;
  line-height: 140%;
}
@mixin mobile-body-regular() {
  font-size: 14px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  letter-spacing: normal;
  line-height: 140%;
}
@mixin mobile-body-secondary() {
  font-size: 14px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  letter-spacing: normal;
  line-height: 140%;
}
@mixin mobile-caption-primary-regular() {
  font-size: 14px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  letter-spacing: normal;
  line-height: 140%;
}
@mixin mobile-caption-primary-bold() {
  font-size: 14px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 700;
  letter-spacing: normal;
  line-height: 140%;
}
@mixin mobile-caption-secondary-regular() {
  font-size: 12px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 500;
  letter-spacing: normal;
  line-height: normal;
}
@mixin card-heading-bold() {
  font-size: 16px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;
}
@mixin card-heading-regular() {
  font-size: 16px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
}
@mixin button-bold() {
  font-size: 16px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 700;
  letter-spacing: normal;
  line-height: 24px;
}
@mixin button-regular() {
  font-size: 16px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  letter-spacing: normal;
  line-height: 24px;
}
@mixin dropdown-bold() {
  font-size: 16px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 700;
  letter-spacing: normal;
  line-height: 24px;
}
@mixin dropdown-default() {
  font-size: 16px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
}
